/* fonts */
@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans.woff2") format("woff2"),
  url("../fonts/ptsans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-bold.woff2") format("woff2"),
  url("../fonts/ptsans-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
/* Variables */
:root {
  --basic-black: #000000;
  --basic-dark: #333333;
  --basic-white: #ffffff;
  --basic-white-focus: rgba(255, 255, 255, .3);
  --basic-special: #666666;
  --area-special: #F2F2F2;
  --area-grey: #EEEEEE;
  --area-grey-focus: #BDBBBC;
  --area-grey-line: #E5E5E5;
  --area-blue: #81B3D2;
  --area-blue-hover: #669EC0;
  --area-blue-focus: #5496BD;
  --area-brown: #766357;
  --area-brown-hover: #604E43;
  --area-brown-focus: #503E33;
}

/*Global*/
.page-body {
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--basic-dark);
  background-color: var(--area-grey);
}
.page-wrap {
  background-color: var(--basic-white);
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
*, *::before, *::after {
  box-sizing: border-box;
}
.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}
.field-reset {
  margin: 0;
  padding: 0;
  border: none;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.container-page {
  max-width: 1056px;
  margin: 0 auto;
}
/*Content*/
.main-navigation-list a {
  line-height: 26px;
  color: var(--basic-black);
  font-weight: 700;
}
.main-content-title {
  text-align: center;
  margin-top: 0;
  color: var(--basic-black);
  font-weight: 700;
  line-height: 26px;
  font-size: 21px;
  max-width: 470px;
  margin: 0 auto 16px;
}
.main-content-desc {
  text-align: center;
  margin-bottom: 50px;
  margin-top: 0;
  color: var(--basic-dark);
}
.features-title {
  margin: 0 auto 25px;
  color: var(--basic-black);
  font-weight: 700;
  line-height: 21px;
  font-size: 21px;
  max-width: 120px;
}
.blue-bg .features-title {
  max-width: 150px;
}
.features-item:nth-child(n+3) {
  background-color: var(--area-grey);
  padding: 47px 71px 54px;
  text-align: center;
}
.features-text:nth-child(2) {
  margin-bottom: 25px;
  margin-top: 0;
}
.features-text:last-child {
  margin: 0;
}
.features-desc {
  text-align: center;
  width: 400px;
  color: var(--basic-white);
  padding: 47px 50px 54px;
}
.features-list-title {
  line-height: 21px;
  margin-bottom: 25px;
  margin: 0;
  color: var(--basic-black);
  font-weight: 700;
  font-size: 21px;
}
.features-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr max-content max-content;
}
.features-item:first-child,
.features-item:nth-child(2) {
  grid-column: 1 / -1;
}
.features-list-desc{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.features-desc.blue-bg {
  color: var(--basic-white);
  background-color: var(--area-blue);
}
.features-desc.blue-bg .features-title {
  color: var(--basic-white);
}
.features-list-item {
  text-align: center;
  padding: 160px 70px 80px;
}
.features-list-text {
  margin: 25px 0 0;
}
.main-form-top {
  padding: 58px 0 24px;
  text-align: center;
}
.main-form-desc {
  max-width: 500px;
  line-height: 24px;
  margin: 0 auto;
}
.main-form-title {
  font-size: 30px;
  line-height: 24px;
  margin-bottom: 30px;
  margin-top: 0;
  color: var(--basic-black);
  font-weight: 700;
}
.main-form-bottom {
  width: 568px;
  margin: 0 auto;
}
.main-form-button {
  border: none;
  outline: none;
  background: var(--area-brown);
  width: 100%;
  height: 86px;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-white);
  cursor: pointer;
  transition: background .2s;
  outline: none;
}
.main-form-button:hover {
  background: var(--area-brown-hover);
}
.main-form-button:focus {
  background: var(--area-focus);
  color: var(--basic-white-focus);
}
.footer-social-link {
  width: 46px;
  height: 48px;
  display: block;
  background: var(--area-blue);
}
.footer-social-link:hover {
  background: var(--area-blue-hover);
}
.footer-social-link:focus {
  background: var(--area-blue-focus);
}
.footer-social-link:focus img {
  opacity: .3;
}
.footer-contact,
.footer-contact a {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
}
.footer-link {
  display: block;
  margin-bottom: 9px;
}
.footer-logo-text {
  line-height: 26px;
  color: var(--basic-black);
}
.footer-logo:hover path {
  fill: var(--area-blue);
}
.footer-logo:focus path {
  fill: var(--area-grey-focus);
}
.filter-title {
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  color: var(--basic-white);
  margin: 0;
}
.filter-block .filter-title {
  margin-bottom: 25px;
}
.filter-name {
  position: relative;
}
.filter-name span {
  display: inline-block;
  color: var(--basic-white);
}
.filter-button {
  border: 2px solid var(--basic-white);
  border-radius: 2px;
  padding: 0 10px;
  height: 36px;
  background: transparent;
  color: var(--basic-white);
  outline: none;
}
.sort-list li:first-child {
  opacity: 1;
}
.sort-list li {
  font-size: 12px;
  line-height: 18px;
  color: var(--basic-black);
}
.sort-list a {
  border-bottom: 1px dashed var(--area-blue);
  opacity: .3;
  color: inherit;
}
.sort-item.active a {
  color: var(--area-blue);
  opacity: 1;
  border: none;
}
.sort-top {
  padding: 30px 0;
  border-bottom: 1px solid var(--area-grey-line);
}
.hotel-card {
  padding: 30px 0;
  border-bottom: 1px solid var(--area-grey-line);
}
.hotel-card-title {
  margin-bottom: 7px;
  margin-top: 0;
  color: var(--basic-black);
  font-weight: 700;
  line-height: 26px;
  font-size: 21px;
}
.hotel-card-title a {
  color: var(--basic-black);
}
.hotel-card-desc {
  color: var(--basic-dark);
  margin-bottom: 15px;
}
.hotel-card-buttons a {
  padding: 0 15px;
  height: 27px;
  line-height: 27px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  background: var(--area-blue);
  color: var(--basic-white);
  font-weight: bold;
  cursor: pointer;
  transition: all .2s;
}
.hotel-card-buttons a:hover {
  background: var(--area-blue-hover);
}
.hotel-card-buttons a:focus {
  background: var(--area-blue-focus);
  color:var(--basic-white-focus);
}
.hotel-card-buttons button {
  padding: 0 15px;
  height: 27px;
  line-height: 27px;
  display: inline-block;
  vertical-align: top;
  border: none;
  background: var(--area-brown);
  color: var(--basic-white);
  font-weight: bold;
  cursor: pointer;
  transition: all .2s;
  outline: none;
}
.hotel-card-buttons button:hover {
  background: var(--area-brown-hover);
}
.hotel-card-buttons button:focus {
  background: var(--area-brown-focus);
  color: var(--basic-white-focus);
}
.hotel-card-rating {
  height: 27px;
  padding: 0 15px;
  line-height: 27px;
  background: var(--area-special);
  color: var(--basic-special);
  text-align: center;
}
.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  align-items: center;
  padding: 23px 0 36px;
  background: rgba(255, 255, 255, 0.9);
}

